63. 10. 20169. 10. 2016<div class="hidden" style="background-color:#fff;padding:3px;border:1px solid #E6E6E6;border-bottom:0;">
	<table class="w100">
	<tr>
		<td class="bold" width="60">OPOMBE:</td>
		<td class="lgray"><em></em></td>
	</tr>
	</table>
</div>
<table class="ednevnik-seznam_ur_teden">
<tr>
	<th width="10%">
	<div style="color:black;">Ura</div>
	<div style="font-size:11px;">&nbsp;</div></th>
				<th >
				<div>Ponedeljek</div>
				<div style="font-size:10px;font-weight:normal;color:#777;">3. 10.</div>
			</th>
						<th >
				<div>Torek</div>
				<div style="font-size:10px;font-weight:normal;color:#777;">4. 10.</div>
			</th>
						<th >
				<div>Sreda</div>
				<div style="font-size:10px;font-weight:normal;color:#777;">5. 10.</div>
			</th>
						<th class="ednevnik-seznam_ur_teden-th-danes">
				<div>Četrtek</div>
				<div style="font-size:10px;font-weight:normal;color:#777;">6. 10.</div>
			</th>
						<th >
				<div>Petek</div>
				<div style="font-size:10px;font-weight:normal;color:#777;">7. 10.</div>
			</th>
			</tr>
	<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">1. ura</div>
			<div class="text10 gray">7:00 - 7:45</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-1-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-1-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-1-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-1-2016-10-06" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-td-danes ">
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-1-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Matematika">MAT</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        Pitagora, N05                        </div>

                        				</div>
							</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">2. ura</div>
			<div class="text10 gray">7:50 - 8:35</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-2-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-2-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-2-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-2-2016-10-06" class="ednevnik-seznam_ur_teden-td  ednevnik-seznam_ur_teden-td-danes">
			<div class="ednevnik-seznam_ur_teden-urnik  ednevnik-seznam_ur_teden-td-danes " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Matematika">MAT</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        Pitagora, N07                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-2-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Nemščina TJ2">NEM2</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        J. W. von Goethe, N01                        </div>

                        				</div>
							</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">3. ura</div>
			<div class="text10 gray">8:40 - 9:25</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-3-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-3-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-3-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Slovenščina">SLO</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        F. Prešeren, L11                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-3-2016-10-06" class="ednevnik-seznam_ur_teden-td  ednevnik-seznam_ur_teden-td-danes">
			<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-nadomescanje  ednevnik-seznam_ur_teden-td-danes" style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Biologija - teorija">BIOt</span>                            </td>
                            <td style="border:none;" align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_nadomescanje.png" title="Nadomeščanje"/></td>
                        </tr>
                        </table>
                        <div class="text11">
                        C. Darwin, M05                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-3-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Nemščina TJ2">NEM2</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        J. W. von Goethe, N01                        </div>

                        				</div>
							</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">4. ura</div>
			<div class="text10 gray">9:30 - 10:15</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-4-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-4-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-4-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Fizika - vaje">FIZv</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        I. Newton, L08                        </div>
                        <div class="text11 gray bold">Skupina 1</div>
                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-4-2016-10-06" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-td-danes ">
			<div class="ednevnik-seznam_ur_teden-urnik   ednevnik-seznam_ur_teden-td-danes" style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Računalništvo - vaje">RAČv</span>                            </td>
                            <td style="border:none;" align="right"><a href="javascript:;" onclick="$('#ednevnik-seznam_ur_teden-blok-84575-2016-09-14').toggle();stop_propagation(event);" class="ednevnik-seznam_ur_teden-vec_ur" title="Več skupin">2</a></td>
                        </tr>
                        </table>
                        <div class="text11">
                        C. Babbage, K01                        </div>
                        <div class="text11 gray bold">Skupina 1</div>
                        				</div>
				                            <div id="ednevnik-seznam_ur_teden-blok-84575-2016-09-14" class="ni_prvi">
                        <div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;border-top:1px solid #E6E6E6;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Računalnški sistemi in omrežja - vaje">RSOv</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        A. Turing, K06                        </div>
                        <div class="text11 gray bold">Skupina 2</div>
                        				</div>
				</div>			</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-4-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Geografija">GEO</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        K. Kolumb, M10                        </div>

                        				</div>
							</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">5. ura</div>
			<div class="text10 gray">10:20 - 11:05</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-5-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-5-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-5-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Nemščina TJ2">NEM2</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        J. W. von Goethe, N01                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-5-2016-10-06" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-td-danes ">
			<div class="ednevnik-seznam_ur_teden-urnik   ednevnik-seznam_ur_teden-td-danes" style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Računalništvo - vaje">RAČv</span>                            </td>
                            <td style="border:none;" align="right"><a href="javascript:;" onclick="$('#ednevnik-seznam_ur_teden-blok-84575-2016-09-14').toggle();stop_propagation(event);" class="ednevnik-seznam_ur_teden-vec_ur" title="Več skupin">2</a></td>
                        </tr>
                        </table>
                        <div class="text11">
                        C. Babbage, K01                        </div>
                        <div class="text11 gray bold">Skupina 2</div>
                        				</div>
				                            <div id="ednevnik-seznam_ur_teden-blok-84575-2016-09-14" class="ni_prvi">
                        <div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;border-top:1px solid #E6E6E6;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Računalnški sistemi in omrežja - vaje">RSOv</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        A. Turing, K06                        </div>
                        <div class="text11 gray bold">Skupina 1</div>
                        				</div>
				</div>			</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-5-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-nadomescanje " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Nemščina TJ2">NEM2</span>                            </td>
                            <td style="border:none;" align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_nadomescanje.png" title="Nadomeščanje"/></td>
                        </tr>
                        </table>
                        <div class="text11">
                        J. W. von Goethe, N01                        </div>

                        				</div>
							</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">6. ura</div>
			<div class="text10 gray">11:10 - 11:55</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-6-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-6-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-6-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Fizika - vaje">FIZv</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        I. Newton, L08                        </div>
                        <div class="text11 gray bold">Skupina 2</div>
                						</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-6-2016-10-06" class="ednevnik-seznam_ur_teden-td  ednevnik-seznam_ur_teden-td-danes">
			<div class="ednevnik-seznam_ur_teden-urnik   ednevnik-seznam_ur_teden-td-danes" style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Angleščina TJ1">ANG1</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        W. Shakespeare, N11                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-6-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
						</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">7.ura</div>
			<div class="text10 gray">12:00 - 12:45</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-7-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-7-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-7-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Kemija - teorija">KEMt</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        D. I. Mendelejev, L05                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-7-2016-10-06 " class="ednevnik-seznam_ur_teden-td  ednevnik-seznam_ur_teden-td-danes">
			<div class="ednevnik-seznam_ur_teden-urnik   ednevnik-seznam_ur_teden-td-danes" style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Sociologija">SOC</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        K. Marx, N05                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-7-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Zgodovina">ZGO</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        Herodot, M01                        </div>

                        				</div>
							</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">8. ura</div>
			<div class="text10 gray">12:50 - 13:35</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-8-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-8-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-8-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Sociologija">SOC</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        K. Marx, M10                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-8-2016-10-06" class="ednevnik-seznam_ur_teden-td  ednevnik-seznam_ur_teden-td-danes">
			<div class="ednevnik-seznam_ur_teden-urnik   ednevnik-seznam_ur_teden-td-danes" style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Biologija - teorija">BIOt</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        C. Darwin, L09                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-8-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
			<div class="ednevnik-seznam_ur_teden-urnik  " style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Angleščina TJ1">ANG1</span>                            </td>
                            <td style="border:none;" align="right"></td>
                        </tr>
                        </table>
                        <div class="text11">
                        W. Shakespeare, M10                        </div>

                        				</div>
							</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">9. ura</div>
			<div class="text10 gray">13:40 - 14:25</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-9-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-9-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-9-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-9-2016-10-06" class="ednevnik-seznam_ur_teden-td  ednevnik-seznam_ur_teden-td-danes">
			<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-zaposlitev  ednevnik-seznam_ur_teden-td-danes" style="color:#444;">                        <table class="w100 collapse">
                        <tr>
                            <td style="border:none;" class="text14 bold"><span title="Slovenščina">SLO</span>                            </td>
                            <td style="border:none;" align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_zaposlitev.png" title="Zaposlitev"/></td>
                        </tr>
                        </table>
                        <div class="text11">
                        F. Prešeren, DOM                        </div>

                        				</div>
							</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-9-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
						</td>
				</tr>
		<tr>
		<td width="10%" class="ednevnik-seznam_ur_teden-td ednevnik-seznam_ur_teden-ura">

			<div class="black bold text14" style="padding-bottom:0px;">10. ura</div>
			<div class="text10 gray">14:30 - 15:15</div>
		</td>
					<td width="18%" id="ednevnik-seznam_ur_teden-td-10-2016-10-03" class="ednevnik-seznam_ur_teden-td ">
						<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
								<tr>
									<td class="text14 bold">
									Počitnice						</td>
									<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
								</tr>
								</table>
												</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-10-2016-10-04" class="ednevnik-seznam_ur_teden-td ">
							<div class="ednevnik-seznam_ur_teden-urnik ednevnik-seznam_ur_teden-td-dogodek ">					<table class="w100 collapse" title="Šolski koledar">
									<tr>
										<td class="text14 bold">
										Praznik						</td>
										<td align="right"><img src="https://www.easistent.com/images/icons/ednevnik_seznam_ur_dogodek.png" title="Šolski koledar" /></td>
									</tr>
									</table>
													</div>
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-10-2016-10-05" class="ednevnik-seznam_ur_teden-td ">
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-10-2016-10-06" class="ednevnik-seznam_ur_teden-td  ednevnik-seznam_ur_teden-td-danes">
						</td>
						<td width="18%" id="ednevnik-seznam_ur_teden-td-10-2016-10-07" class="ednevnik-seznam_ur_teden-td ">
						</td>
				</tr>
	</table>2
